header {
  background: linear-gradient(to right, #000000, #000066);
  padding: 20px;
  color: white;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 10px 0;
}
